

body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  background:#808259 url(../images/905_original.jpg) 0 0 repeat-x
  /*margin: 0;*/
}

a {
  /*color: #1B97F2;*/
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

.clear {
  clear: both;
}


/*#nav_bar {*/
  /*margin-top: 30em;*/
/*}*/

#main {
  background-color: #EEE;
  width: 960px;
  margin: 0 auto;
}
.nav {
  background-color: #222;
  margin-top: 10em;
  height: 33px;
  padding-top:  13px;
  position: absolute;
  right: 30em;
}

.nav li{
  display: inline;
}
.nav li a {
 color: white;
}
/*.nav li:hover {*/
  /*background-color: red;*/
/*}*/

.nav li:first-child a {
  margin-right: 30px;
  margin-left: -40px;
}

.nav li:first-child a:link {
  margin-right: 30px;
  margin-left: -40px;
  padding-top: 15px;
  padding-bottom: 19px;
}

.nav a:link, .nav a:visited {
  color: #FFF;
  background:#222;
  padding: 7px;
  margin-left: 7px;
}

.nav a:hover, .nav a:focus {
  text-decoration: none;
  background-color: red;
  padding-top: 13px;
  padding-bottom: 17px;
}

