html {
  background: #111 ;
  zoom: 1.1;
  /*filter:alpha(opacity=10);*/
  /*-moz-opacity:0.8;*/
  /*-khtml-opacity: 0.8;*/
  /*opacity: 0.8;*/
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);*/
  /*[> For IE 8<]*/
  /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";*/
}

body {
  /*background-color: #FFF;*/
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  /*background-color: gray;*/
  /*margin: 0;*/
  /*background: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#eee685));*/
  /*background: -moz-linear-gradient(#fff, #ffe);*/
  /*background: linear-gradient(#fff, #ffe);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ffe');*/
}

a {
  /*color: #1B97F2;*/
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

.clear {
  clear: both;
}

.c { clear: both; }
/*#nav_bar {*/
/*margin-top: 30em;*/
/*}*/

#footer {
  height:50px;
  margin: 10px 0 0 0 ;
  /*margin: auto;*/
  /*margin-top:37em;*/
  padding: .5em;
  /*width: 950px;*/
  text-align: center;
  /*background-color:#507AAA;*/
  color:#f8f8f8;
  position:relative;
  clear: both;
}

#justify-right {
  padding-top: 10px;
}

#top_bar {
  max-height: 10em;
  background-color: red;
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
}

#main {
  background-color: #000;
  width: 960px;
  margin: 0 auto;
  height: 450px;
}

#main .nav {
  background-color: #222;
  /*margin-top: -1em;*/
  height: 33px;
  padding-top:  13px;
}

.nav li{
  display: inline;
}
.nav li a {
  color: white;
}
/*.nav li:hover {*/
/*background-color: red;*/
/*}*/

.nav li:first-child a {
  margin-right: 30px;
  margin-left: -40px;
  /*background-color: #333;*/
  height: 40px;
  width: 35px;
  position: fixed;
  top: 11.5em;
  background: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#666));
  background: -moz-linear-gradient(#fff, #666);
  background: linear-gradient(#fff, #666);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#666');*/
}

.nav li:first-child a:link {
  margin-right: 30px;
  margin-left: -35px;
  /*padding-top: 2px;*/
  /*padding-bottom: 2px;*/
  padding: 7px;
}
.nav li:first-child a:hover {
  background-color: red;
  padding-top: 2px;
  padding-bottom: 5px;
  /*height: 39px;*/
  /*width: 35px;*/
}

.nav a:link, .nav a:visited {
  color: #FFF;
  background:#222;
  padding: 7px;
  margin-left: 40px;
}

.nav a:hover, .nav a:focus {
  text-decoration: none;
  background-color: red;
  padding-top: 13px;
  padding-bottom: 17px;
  background: -webkit-gradient(linear, left top, right bottom, from(#222), to(#666));
  background: -moz-linear-gradient(#222, #666);
  background: linear-gradient(#222, #666);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222', endColorstr='#666');*/
}

#bottom-content {
  /*background-color: #018BB9;*/
  background-color: #7BA3CD;
  margin-top: 5px;
  height: 30em;

}

#text_summary {
  background-color: #7BA3CD;
  margin-top: -5em;
  padding-left: 10px;
  padding-right: 10px;

}

#service_picture {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  /*width: 30%;*/
  border: 2px solid #ccc;
  padding: 5px;
  background-color: #fff;
}


#inline_border {
  background-color: #000;
}

#someothertext {
  float: right;
  width: 62%;
  padding-right: 10px;
  padding-left: 1px;

}

/*slider*/
#slider_container_2 {
  /*float: left;*/
  /*margin: 0 0 0 -15px;*/
  width: 960px;
  background: url(../images/bg.png) no-repeat 0 0;
  /*padding-top: 5em;*/
  margin-top: -9px;
}

.SliderName_2 {
  /*float: left;*/
  width: 960px;
  height: 250px;
  overflow: hidden;
}

.SliderNamePrev_2 {
  background: url(../images/left.png) no-repeat left center;
  width: 50px;
  height: 450px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
}

.SliderNameNext_2 {
  background: url(../images/right.png) no-repeat right center;
  width: 50px;
  height: 450px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
}

.SliderName_2Description {
  padding: 10px;
  font-family: Tahoma,Arial,Helvetica;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 3px #000000;
}

/*#SliderNameNavigation_2 { margin: 0; padding: 10px 0 0 0; height: 16px; text-align: center; overflow-y: hidden; }*/

/*#SliderNameNavigation_2 a:link, #SliderNameNavigation_2 a:active, #SliderNameNavigation_2 a:visited, #SliderNameNavigation_2 a:hover{*/
/*margin: 0;*/
/*padding: 0;*/
/*font-size: 0;*/
/*line-height: 0;*/
/*text-decoration: none;*/
/*}*/

/*#SliderNameNavigation_2 a img*/
/*{*/
/*border: none;*/
/*width: 16px;*/
/*height: 16px;*/
/*background: url(../images/bullet.png) no-repeat center center;*/
/*}*/

/*#SliderNameNavigation_2 a.active img*/
/*{*/
/*background: url(../images/bullet_active.png) no-repeat center center;*/
/*}*/

#SliderNameNavigation_2 {
  display: none;
}

ul.listclass {
  margin-left: 30em;
}

div.somespantext {
  margin-left: 25em;
  margin-right: 1em;
}
