<div id="bottom-content">
  <div id="service_picture">
    <div id="inline_border">
      <img src="images/architects_bangalore.jpg" width="300px" height="300px" />
    </div>
  </div>
  <div id="someothertext">
    <p><strong>Our Motto</strong></p>
    <p>&ldquo;We  don&rsquo;t  just believe in customer satisfaction&rdquo; <br>
      &ldquo;We believe in  customer delight&rdquo;</p>
    <p><strong>Our Team</strong></p>
    <p>PSI has a  Strong, dedicated &amp; trained team to work on different kinds of requirement,  Like Residential, Commercial properties and Ware housing. We have different  teams to manage customer needs such as Rentals, Outright sale, Leasing, Joint  Development, Built to suit etc.</p>
    <p><strong>Legality</strong></p>
    <p>We have back  office support for verifying, legalizing authentication of the concerned  document by our legal experts</p>
  </div>
</div>


<div id="text_summary">

  <strong><br>Growth /  Achievements &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
<p>We have  constant growth from last 13 years in the field, by expanding our business from  Bangalore to  other Major cities and also in International map.<br>
  Our hard work  and team effort has bought us many appreciation and mementos for best service  and support providers <p><strong>Our Aim</strong></p>
  <p>It has always  been our aim to provide better support in terms of finding better place for  residing and business growth in considering the time and cost effective.&nbsp; To justify our aim, we have divisions in our  team who work continuously to bring better result</p>
  <p><strong>Our Clientele:</strong></p>
  <p><strong>Corporate:</strong> Reliance, EFI, British  Petroleum, ITC, Dell, HP, Sun Micro System, Metro, Just Bake, Oracle, Asset,  APC, DHL, ABB, Logistics Company, SBI, IBM, Pepsico India,<br><strong>Builders:</strong> Brigades Group, Nitesh, Suraj  Group, Jain Heights, canopy group, RMZ&nbsp; And many more corporate builders
    <p>And many more  Retails, Food Chain, VIP class Individual Client, Individual Corporate Clients  etc.,
      <br>We are  upgrading ourselves timely to match the customer demand as the market changes  every moment.
    </div>
