<div id="bottom-content">
  <div id="service_picture">
    <div id="inline_border">
      <img src="images/1.jpg" width="300px" height="300px" alt="Demo2 second" title="Demo2 second" />
    </div>
  </div>
  <div id="someothertext">
    <p align="justify" class="style19">Over a decade of pursuing excellence  in Consultancy is not a deterrent but an advantage to embark upon a new  beginning. With a massive experience in its gamut, <strong>Property Source India</strong> was fashioned to bring in a new way of executing business in the Real Estate  consultation industry. We, at <strong>PSI</strong> are committed to explore new dimensions to accomplish our tasks, a new way of  counseling our clients, formulate new methods of doing business, and the  utilization of new technologies. Hence, we stand tall on the edifice of our  success by living up to our commitment and your expectations. We are a  Bangalore based real estate consultancy group providing a bridge between buyers  and sellers.</p>
    <p align="justify" class="style19"><strong>PSI</strong> houses a committed team of highly  experienced executives with an established track record of more than a decade  who understand the markets and the changing trends. This is one of the biggest  factors contributing towards the success of PSI as one of the most trusted and  preferred consultants. Having a long list of satisfied customers, <strong>PSI</strong> has an unblemished record of upholding  commitments and delivering to the entire satisfaction of their valued  customers.</p>
    <div align="justify"><span class="style19">We are currently operating in Bangalore, Coimbatore,  Chennai, Hyderabad, Mysore, and parts of UAE.</span></div></td>
</div>
 </div>
