<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title><%= @title ? "#{@title} - " : nil %> India Property Display</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen, projection" charset="utf-8">
  <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
</head>

<div id="main">
  <%#<div id="nav_bar">%>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/menu1">Menu1</a></li>
      <li><a href="/menu2">Menu2</a></li>
      <li><a href="/menu3">Menu3</a></li>
    </ul>
  <%#</div>%>
  <%= yield %>
</div>

</html>
