
<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title><%= @title ? "#{@title} - " : nil %> India Property Display</title>
  <script src="jquery.js"></script>
  <script src="jquery.cookie.js"></script>
</head>

<div id="main">
  <%= yield %>
</div>

</html>
