<div id="bottom-content">
  <div id="service_picture">
    <div id="inline_border">
      <img src="images/06.jpg" width="300px" height="300px"/>
    </div>
  </div>
  <div class="somespantext">

<p id="justify-right"><span>PSI offers extensive services to its    corporate clients ranging from offering commercial space for lease, retail space,    interim space solutions and residential Sale and lease options to the    company&rsquo;s employees.<br>
                                    Tenant services include strategic planning,  demographic and site consulting, financial analysis and post-occupancy  services.<br>
                                    For landlords, we develop strategies  to enhance the value of their assets, position their product in the market,  identify suitable prospects, create customized marketing strategies and handle  the entire process of the lease transaction.</span>
                                  <br>
                                  <span>Extended &amp; personalized services</span></span>
  </div>
                                  <ol>
                                  <ul class="listclass">
                                    <li>Tenant representation</li>
                                    <li>Landlord representation</li>
                                    <li>Market analysis and location  preferences</li>
                                    <li>lease negotiation</li>
                                    <li>Transaction management</li>
                                    <li>Sourcing the most Investment-worthy  properties</li>
                                    <li>Checking Legalities and verifying  documents</li>
                                    <li>Liaising with owners</li>
                                    <li>Negotiating the most suitable terms</li>
                                    <li>&nbsp;Assessment and valuation of  property</li>
                                  </ul>
                                </ol>
</div>
